<div class="card">
  <img src="images/<%- rental.imageUrl %>" alt="<%- rental.headline %>" style="width:100%">
  <div class="card-content">
    <h6><%- rental.headline %></h6>
    <span class="rental-detail">
      Sleeps <%- rental.numSleeps %> · BR <%- rental.numBedrooms %> · BA <%- rental.numBathrooms %> · C$<%- rental.pricePerNight %>/night
    </span>
    <% if(user && ctype === 'customer') { %>
      <div class="mt-3 text-end">
        <form 
          action="/cart/add/<%= rental._id %>" 
          method="post" 
          novalidate
          class="m-0"
        >
          <button type="submit" class="btn btn-primary">
            Rent
          </button>
        </form>
      </div>
    <% } %>
  </div>
</div>