<div class="card">
  <img src="<%- rental.imageUrl %>" alt="<%- rental.headline %>" style="width:100%">
  <div class="card-content">
    <h6><%- rental.headline %></h6>
    <span class="rental-detail">Sleeps <%- rental.numSleeps %> · BR <%- rental.numBedrooms %> · BA <%- rental.numBathrooms %> · C$<%- rental.pricePerNight %>/night</span>
  </div>
</div>