<div class="container">
  <div class="d-flex justify-content-center align-items-end gap-5">
    <div class="form-container">
      <div class="card d-flex flex-row">
        <div class="image-container">
          <img src="images/sign-up.jpg" />
        </div>
        <form action="/sign-up" method="post" enctype="application/x-www-form-urlencoded">
          <div class="d-flex flex-column justify-content-center text-center">
            <h5>Sign Up</h5>
            <p>Already a member? <a href="/log-in">Log in</a></p>
          </div>
          <div class="name-fields-container">
            <div class="form-group">
              <label class="form-label" for="fname">First Name</label>
              <div class="error"><%= errors.fname %></div>
              <input
                type="text"
                class="form-control"
                name="fname"
                placeholder="Enter firstname"
                value="<%= formData.fname %>"
              >
            </div>
            <div class="form-group">
              <label class="form-label" for="lname">Last Name</label>
              <div class="error"><%= errors.lname %></div>
              <input
                type="text"
                class="form-control"
                name="lname"
                placeholder="Enter lastname"
                value="<%= formData.lname %>"
              >
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email address</label>
            <div class="error"><%= errors.email %></div>
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="Enter email address"
              value="<%= formData.email %>"
            >
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <div class="error"><%= errors.password %></div>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              autocomplete="current-password"
              value="<%= formData.password %>"
            >
          </div>
          <input class="btn btn-primary w-full" type="submit" value="Sign up">
        </form>
      </div>
    </div>
  </div>
</div>